<form action="/test/payment999-true45454565923dew" method="post">
    <p>999</p>
    <input type="text" name="id" id="name">
    <button type="submit">Click</button>
</form>

<br>

<form action="/test/payment2500-true45454565923dew" method="post">
    <p>2500</p>
    <input type="text" name="id" id="name">
    <button type="submit">Click</button>
</form>

